<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <h2><span id="secret">Secret</span>Club</h2>
      <div id="buttonsContainer"><button>Log In</button>
        <button>Sign Up</button></div>
      
    </nav>
    <main>
      <h1>Messages</h1>
    </main>
    <footer>
      <p>Designed&Created by <a href="https://github.com/KLesiu">Lesiuuu</a></p>
    </footer>
  </body>
</html>
