<nav>
    <h2><span id="secret">Secret</span>Club</h2>
    <% if(user){
        %>
        <h2>Welcome <span id="spanName"><%= user.name %></span>!</h2>
        <div id="buttonsContainer">
            <a href="/add-msg"><button>Add message</button></a>
            <button id="joinClub">Join Club</button>
        </div>
        <%
    } else{
        %> <div id="buttonsContainer"><a href="/log-in"><button>Log In</button></a>
            <a href="/sign-up"><button>Sign Up</button></a></div> <%
    } %>
   
    
  </nav>