<nav>
    <h2><a href="/"><span id="secret">Secret</span>Club</a></h2>
    <div id="buttonsContainer"><button>Log In</button>
        <a href="/sign-up"><button>Sign Up</button></a></div>
    
  </nav>