<nav>
    <h2><span id="secret">Secret</span>Club</h2>
    <% if(user){
        %>
        <h3>Zalogowany</h3>
        <%
    } else{
        %> <div id="buttonsContainer"><a href="/log-in"><button>Log In</button></a>
            <a href="/sign-up"><button>Sign Up</button></a></div> <%
    } %>
   
    
  </nav>