body {
 
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  width: 99vw;
}
nav{
  align-items: center;
  border-bottom: 1px solid silver;
  display: flex;
  justify-content: space-around;
  height: 10%;
  width: 100%;
}
#secret{
  color: grey;
}
#buttonsContainer button{
  background-color: silver;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 40px;
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  width: 80px;
}
#buttonsContainer button:hover{
  background-color: rgb(156, 156, 156);
}
main{
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  min-height: 85vh;
  width: 80%;
}
main h1{
  font-size: 40px;
}
footer{
  border-top: 1px solid silver;
  display: flex;
  justify-content: center;
  height: 10%;
  width: 100%;
}
footer a{
  color: rgb(22, 98, 211);
  text-decoration: none;
}

